*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

ul{
    list-style-type: none;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.size3{
    font-size: 3rem;
}

.text-white{
    color: white;
}

.cover-container{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.show.cover-container{
    display: block;
}